body {
    background-color: silver;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.marginRight {
    margin-right: 40px;
}

.avatarImg {
    width: 50px;
    height: 40px;
    border-radius: 15%;
}

.botonPlay {
    margin-left: 85%;
}

@media screen and (min-width: 480px) {
    .botonPlay {
        margin-left: 93%;
        margin-bottom: 10px;
    }
}